server:
  port: 8000
spring:
  application:
    name: short-link-gateway
  profiles:
    active: aggregation # 默认激活aggregation配置，可通过环境变量修改为dev配置
#     active: dev
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      password: 123456
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848